.character-container {
    max-width: 1280px;
    text-align: center;
    padding: 20px;

    div:nth-child(1){
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    h1 {
      display: flex;
      font-size: 3rem;
    }
      input {
        border-radius: 8px;
        display: flex;
        width: 250px;
        height: 30px;
        border: 1px solid #ccc;
        background-color: #333;
        font-size: 14px;
        color: #ccc;
        text-align: center;
        
       
      }

      input::placeholder {
        color: #747171;
        opacity: 0.7;
        text-align: center;
        font-weight: bold;
        
        
      }


      
      
  }


  
  .character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    list-style: none;
  }
  
  .character-card {
    width: 250px;
    height: 300px;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .character-card:hover {
    transform: scale(1.05);
   
  }
  
  .character-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .character-name {

    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgba(236, 29, 36, 0.9); 
    color: white; 
    font-size: 16px;
    text-transform: uppercase; 
    padding: 10px; 
    text-align: left; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); 
    font-family: 'Bangers', cursive; 
    letter-spacing: 2px; 
  }


  .character-loading {
    font-size: 4rem;
    
  } 
  
